<ion-view view-title="catalogue">
    <ion-content mm-state-class>
        <div ng-app="mm.core.courses" ng-controller="mmcatalogueCtrl">

            <p class="item item-divider" ng-repeat="cat in catalogue_name">{{cat}}</p>

        </div>
    </ion-content>
<script type="text/javascript" src="catalogue.js"></script>
</ion-view>

<script>

	alert(window.location.href);

	function $_GET(param)
	{
		var vars = {};
		window.location.href.replace(location.hash, '').replace(/[?&]+([^=&]+)=?([^&]*)?/gi, function(m, key, value)
		{
			vars[key] = value !== (undefined) ? (value) : ('');
		});
	
		if (param)
		{
			return (vars[param]) ? (vars[param]) : (null);	
		}
		return (vars);
	}
</script>