<head>
</head>

<body>
    <div style="margin-top:100px;margin-left:10px" ng-app="mm.core.courses" ng-controller="mmWeshAlorsCtrl">
        <p>WESH ALORS : {{wesh}}</p>
        <p>WESH ALORS : {{untruc}}</p>
        <p>WESH ALORS : {{autretruc}}</p>
        </br>
        </br>
        </br>
        <p>Bonjour.</p>
        <p>Cet endroit à été créé par le Grand Momo.</p>
        <p>Ce fut une étape difficile mais pas impossible.</p>
        <p>Momo est vraiment très fort et très beau.</p>
        <p>Par contre maintenant Momo voudrait bien savoir comment récuperer les informations de la base de données SQL.</p>
        <p>Le problème c'est que ce n'est même plus de la magie mais de la sorcelerie.</p>
        <p>Mais Momo n'est pas un sorcier.</p>
        <p>Bon courage, Momo.</p>
        <p>Bon courage.</p>
        </br>
        </br>
        <p>Si toi aussi tu veux savoir comment le Grand Momo à réussi à créé cet endroit fait un petit ctrl + f de "wesh" dans le code et tu devrais retrouver les endroits importants.</p>
    </div>
</body>