<ion-view title="catalogue">
    <ion-content>
        <div style="margin-top:100px;margin-left:10px" ng-app="mm.core.courses" ng-controller="mmWeshAlorsCtrl">
    
            <p ng-repeat="cat in catalogue_name">{{cat}}</p>
            </br>
            </br>
            </br>
            <p>Bonjour.</p>
            <p>Cet endroit à été repris par le misérable Elyess.</p>
            <p>J'éspère qu'il va pas tout casser.</p>
            <p>Elyess est vraiment très con et très moche.</p>
            </br>
            </br>
            <p>J'éspère tu te tapes un merge.</p>
    
        </div>
    </ion-content>
</ion-view>