<ion-view title="catalogue">
    <ion-content>
        <div style="margin-top:100px;margin-left:10px" ng-app="mm.core.courses" ng-controller="mmWeshAlorsCtrl">
    
            <p ng-repeat="cat in catalogue_name">{{cat}}</p>
            </br>
            </br>
            </br>
            <p>Bonjour.</p>
            <p>Cet endroit à été créé par le Grand Elyess.</p>
            <p>Ce fut une étape facile.</p>
            <p>Momo est vraiment très con et très moche.</p>
            </br>
            </br>
            <p>ELYESS Was here :).</p>
    
        </div>
    </ion-content>
</ion-view>